<link
  rel="stylesheet"
  href="components/common/recipe-card/common-recipe-card.css"
/>

<!-- template of recipe card -->
<div class="recipe-card">
  <img
    class="recipe-card-image"
    alt="burger"
    src="static/common/demorecipe.jpg"
  />

  <div class="recipe-card-name">
    <div>burger</div>
  </div>

  <!-- property grid -->
  <div class="recipe-card-stats">
    <div class="stat">
      <div id="time">15</div>
      <div>min</div>
    </div>
    <div class="stat">
      <div id="calories">800</div>
      <div>cal</div>
    </div>

    <div class="stat">
      <div id="protein">80g</div>
      <div>protein</div>
    </div>
    <div class="stat">
      <div id="score">80</div>
      <div>score</div>
    </div>
  </div>
</div>
