<link
  rel="stylesheet"
  href="components/common/recipe-card/common-recipe-card.css"
/>

<!-- template of recipe card -->
<div class="recipe-card">
  <img class="recipe-card-image" alt="" src="" />

  <div class="recipe-card-name">
    <div></div>
  </div>

  <!-- property grid -->
  <div class="recipe-card-stats">
    <div class="stat">
      <div id="time"></div>
      <div class="stat-unit">minutes</div>
    </div>
    <div class="stat">
      <div id="calories"></div>
      <div class="stat-unit">calories</div>
    </div>

    <div class="stat">
      <div id="protein"></div>
      <div class="stat-unit">protein</div>
    </div>
    <div class="stat">
      <div id="score"></div>
      <div class="stat-unit">score</div>
    </div>
  </div>
</div>
