/* Cooking Mode Page */
#cooking-mode {
  display: flex;
  flex-direction: row;
  margin: 5vh 5vh;
  height: 100%;
}

/* Directions/Image/Video */
.direction-box {
  text-align: center;
  width: 60%;
  height: 100%;
}

/* Directions Title */
.direction-title {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

/* Step Number */
#number {
  background-color: black;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  color: white;
  font-size: 150%;
  line-height: 3vw;
}

/* Video/Text Directions Buttons */
.first-row-button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin: 0;
}

.first-row-button {
  transition-duration: 0.5s;
  background-color: #ffa4a4;
  color: white;
  border: #ffa4a4 solid 1px;
  border-radius: 10px;
}

.first-row-button:hover {
  background-color: white;
  color: black;
  border: #ffa4a4 solid 1px;
}

.first-row-button:active {
  transform: scale(0.6);
}

/* Direction Written (Text and Image) */
#direction-written {
  margin: 5vh auto;
  width: 100%;
  height: 80%;
  margin-top: 10px;
  border: 1px solid #ffa4a4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(255, 164, 164, 0.24);
  font-size: 3vw;
}

/* Direction Text */
#direction-text {
  height: 100%;
  overflow-y: scroll;
}

#directions {
  margin: 1.5vw;
  text-align: left;
}

/* Recipe Finished Image */
#direction-img {
  margin-top: 1vw;
  max-width: 90%;
  max-height: 48vh;
  width: auto;
  height: auto;
  border: solid black 1px;
  object-fit: cover;
}

/* Directions Video */
/* Do not change display: none */
#recipe-video-container {
  margin-top: 10px;
  display: none;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 10px;
  overflow: hidden;
}

#recipe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Timer and Next/Back Buttons */
#timer-box {
  display: flex;
  padding-left: 5vh;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 40%;
}

/* Timer Container */
#timer {
  align-items: center;
  width: 100%;
  height: 35%;
  border: solid #ffa4a4 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Timer Display Container */
#timer-display-container {
  height: 60%;
  width: 100%;
}

/* Timer Display */
#timer-display {
  margin-top: 1vh;
  width: 100%;
  height: max-content;
  font-size: 7.5vw;
  justify-content: center;
}

/* Timer Input Container */
#time-input-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  font-size: 20px;
}

/* Timer Input */
.time-input {
  height: 100%;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Hours, Minutes, Seconds Labels */
#input-hours-label,
#input-minutes-label,
#input-seconds-label {
  font-size: 100%;
  justify-content: center;
}

#input-hours,
#input-minutes,
#input-seconds {
  width: 100%;
  height: 50%;
  justify-content: center;
  font-size: 250%;
  text-align: center;
  border-radius: 10px;
}

/* Timer Button Grid */
#timer-button-grid {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

/* Start/Pause and Reset Buttons */
#start-pause-button,
#reset-button {
  height: 100%;
  width: 30%;
  min-width: min-content;
  transition-duration: 0.5s;
  background-color: #ffa4a4;
  border: #ffa4a4 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 45;
  color: white;
}

#start-pause-button {
  margin-right: 5vw;
}

#timer-button-grid button:hover {
  color: black;
  background-color: white;
}

/* Back-Next Container */
#back-next-container {
  width: 100%;
  height: 65%;
  margin-bottom: 125px;
  display: flex;
  flex-direction: column;
}

/* Direction buttons */
.direction-button {
  height: 40%;
  width: 100%;
  border-radius: 10px;
  font-size: 75px;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 9px #999;
}

/* Next Button */
#next-button {
  margin-top: 40px;
  background-color: #2cb82c;
}

#next-button:hover {
  background-color: rgb(0, 124, 0);
}

#next-button:active {
  background-color: rgb(0, 124, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Back Button */
#back-button {
  margin-top: 20px;
  background-color: #f93f3f;
}

#back-button:hover {
  background-color: rgb(226, 28, 13);
}

#back-button:active {
  background-color: rgb(226, 28, 13);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
