<link rel="stylesheet" href="components/cooking-mode/cooking-mode.css" />
<main>
  <section id="top-grid">
    <div id="timer">
      <div id="timer-display-container">
        <time id="timer-display"></time><br />
        <form id="time-input-form">
          <div id="time-input-container">
            <span id="input-hours-span" style="display: inline-block">
              <label id="input-hours-label" for="input-hours">Hours</label>
              <input type="number" min="0" max="23" step="1" id="input-hours" />
            </span>
            <span id="input-minutes-span" style="display: inline-block">
              <label id="input-minutes-label" for="input-minutes"
                >Minutes</label
              >
              <input
                type="number"
                min="0"
                max="59"
                step="1"
                id="input-minutes"
              />
            </span>
            <span id="input-seconds-span" style="display: inline-block">
              <label id="input-seconds-label" for="input-seconds"
                >Seconds</label
              >
              <input
                type="number"
                min="0"
                max="59"
                step="1"
                id="input-seconds"
              />
            </span>
          </div>
        </form>
      </div>
      <div id="timer-button-grid">
        <button id="start-pause-button">Start</button><br />
        <button id="reset-button">Reset</button>
      </div>
    </div>
    <div id="back-next-container">
      <button id="back-button">Back</button>
      <button id="next-button">Next</button>
    </div>
  </section>

  <section id="bottom-grid">
    <div id="number">1</div>
    <div id="direction" style="display: block"></div>
    <div id="direction-image" style="display: none">
      <div id="image-title">Bon Appétit!</div>
      <img src="" id="direction-img" alt="" />
    </div>
    <div id="img-and-video">
      <div id="direction-video-container"></div>
    </div>
  </section>
</main>
