#top-grid,
#bottom-grid {
  display: flex;
  text-align: center;
}

#top-grid {
  padding-top: 40px;
  padding-left: 40px;
}

#timer {
  align-items: center;
  width: 45vw;
  height: 30vh;
  border: solid #ffa4a4 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#timer-display {
  width: 100%;
  font-size: 8vw;
}

#timer-button-grid {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
}

#start-pause-button,
#reset-button {
  transition-duration: 0.5s;
  background-color: #ffa4a4;
  border: #ffa4a4 solid 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 45;
  color: white;
  width: 145px;
}
#timer-display-container {
  height: 80%;
}

#timer-button-grid button:hover {
  color: black;
  background-color: white;
}

#back-button,
#next-button {
  height: 20vh;
  margin: auto;
  border-radius: 20px;
  font-size: 75px;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 9px #999;
  flex: 0.4;
}

#back-button {
  background-color: F93F3F;
}

#back-button:hover {
  background-color: rgb(226, 28, 13);
}

#back-button:active {
  background-color: rgb(226, 28, 13);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#next-button {
  background-color: #2cb82c;
}

#next-button:hover {
  background-color: rgb(0, 124, 0);
}

#next-button:active {
  background-color: rgb(0, 124, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#direction {
  width: 58vw;
  border: solid black 1px;
  border-radius: 10px;
  margin: 10px;
  height: 60vh;
  padding: 1vw;
  font-size: 3.5vw;
  overflow-y: scroll;
}
#direction-img,
#direction-video {
  height: 45%;
  width: 100%;
}

#direction-img {
  border: solid black 1px;
  object-fit: cover;
}

#direction-video {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#img-and-video {
  align-items: center;
  width: 30vw;
}

#number {
  background-color: black;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  margin: 10px;
  color: white;
  font-size: 2vw;
  line-height: 5vw;
}

main {
  min-height: 100%;
  padding: 10px;
}

#time-input-container {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 20%;
  justify-content: space-evenly;
  margin: 0 auto;
  font-size: 20px;
}

#time-input-container > span input {
  height: 40%;
  margin: 10px;
  width: 140px;
}

#back-next-container {
  width: 650px;
  margin-left: auto;
  margin-bottom: 125px;
  display: flex;
}

#input-hours-label,
#input-minutes-label,
#input-seconds-label {
  font-size: 120%;
}

.divider {
  width: 5px;
}
