#cooking-mode {
  display: flex;
  flex-direction: row;
  margin: 5vh 2vw;
  height: 100%;
}

/* 
NEW CODE
*/

.direction-title {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.first-row-button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin: 0;
}

.first-row-button {
  transition-duration: 0.5s;
  background-color: #ffa4a4;
  color: white;
  border: #ffa4a4 solid 1px;
  border-radius: 5px;
}

.first-row-button:hover {
  background-color: white;
  color: black;
  border: #ffa4a4 solid 1px;
}

.first-row-button:active {
  transform: scale(0.6);
}

.direction-box {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* 
NEW CODE
*/

#direction-text {
  margin: 5vh auto;
  width: 100%;
  height: 80%;
  margin-top: 10px;
  border: 1px solid #ffa4a4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(255, 164, 164, 0.24);
  font-size: 3.5vw;
  overflow-y: scroll;
}

#direction-image {
  margin: 5vh auto;
  width: 100%;
  height: 80%;
  margin-top: 10px;
  border: 1px solid #ffa4a4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(255, 164, 164, 0.24);
  font-size: 3.5vw;
}

#direction-img {
  margin-top: 1vw;
  max-width: 58vw;
  max-height: 48vh;
  width: auto;
  height: auto;
}

#direction-img {
  border: solid black 1px;
  object-fit: cover;
}

/* Do not change display: none */
#recipe-video-container {
  margin-top: 10px;
  display: none;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 10px;
  overflow: hidden;
}

#recipe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#img-and-video {
  align-items: center;
  width: 30vw;
}

#number {
  background-color: black;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  color: black;
  font-size: 1vw;
  line-height: 3vw;
}

/* The time and directions buttons */

#timer-direction-buttons {
  display: flex;
  padding-left: 40px;
  flex-direction: column;
  text-align: center;
}

/* The timer */

#timer {
  align-items: center;
  width: max-content;
  height: 30vh;
  border: solid #ffa4a4 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#timer-display {
  width: 100%;
  font-size: 8vw;
}

#timer-button-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 2vh;
}

#timer-display-container {
  height: 80%;
}

#timer-button-grid button:hover {
  color: black;
  background-color: white;
}

#time-input-container {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 500px;
  justify-content: space-evenly;
  margin: 0 auto;
  font-size: 20px;
}

#time-input-container > span input {
  height: 40%;
  margin: 10px;
  width: 140px;
}

#input-hours-label,
#input-minutes-label,
#input-seconds-label {
  font-size: 120%;
}

#start-pause-button,
#reset-button {
  transition-duration: 0.5s;
  background-color: #ffa4a4;
  border: #ffa4a4 solid 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 45;
  color: white;
  width: 145px;
  margin-left: 1vw;
}

/* Direction buttons */

.direction-button {
  margin-top: 1vw;
  height: 200px;
  width: 500px;
  border-radius: 20px;
  font-size: 75px;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 9px #999;
}

#back-button {
  background-color: #f93f3f;
}

#back-button:hover {
  background-color: rgb(226, 28, 13);
}

#back-button:active {
  background-color: rgb(226, 28, 13);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#next-button {
  background-color: #2cb82c;
}

#next-button:hover {
  background-color: rgb(0, 124, 0);
}

#next-button:active {
  background-color: rgb(0, 124, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#back-next-container {
  width: max-content;
  margin-bottom: 125px;
  display: flex;
  flex-direction: column;
}
