<html>
  <head>
    <title>hands-free</title>
    <link rel="stylesheet" href="hands-free.css" />
    <script type="text/javascript" src="hands-free.js"></script>
  </head>

  <body>
    <section id="top-grid">
      <div id="timer">
        <time id="timer-display">00:00:00</time>
        <div id="timer-button-grid">
          <button id="start-button">Start</button><br />
          <button id="pause-button">Pause</button><br />
          <button id="resume-button">Resume</button>
        </div>
      </div>

      <button id="back-button" onclick="">Back</button>
      <button id="next-button">Next</button>
    </section>

    <section id="bottom-grid">
      <div id="number">1</div>
      <div id="direction"></div>
      <div id="img-and-video">
        <img src="" id="direction-img" alt="direction-img" />
        <video id="direction-video"></video>
      </div>
    </section>
  </body>
</html>
