<html>
  <head>
    <title>hands-free</title>
    <link rel="stylesheet" href="hands-free.css" />
    <script type="text/javascript" src="hands-free.js"></script>
  </head>

  <body>
    <section id="top-grid">
      <div id="timer">
        <time id="timer-display">00:00:00</time>
        <div id="timer-button-grid">
        <button id="start-button"onclick="startCount()">Start</button><br>
        <button id="pause-button"onclick="stopCount()">Pause</button><br>
        <button id="resume-button"onclick="resumeCount()">Resume</button>
      </div></div>

      <button id="back-button">Back</button>
      <button id="next-button">Next</button>
    </section>

    <section id="bottom-grid">
      <div id="direction"></div>
      <div id="img-and-video">
        <img src="" id="direction-img" alt="direction-img" />
        <video id="direction-video"></video>
      </div>
    </section>
  </body>
</html>
