#top-grid,
#bottom-grid {
  display: flex;
  text-align: center;
}
#timer {
  width: 50vw;
  height: 30vh;
  border: solid black 1px;
  display: flex;
}

#timer-display {
  width: 80%;
  font-size: 8vw;
  line-height: 27vh;
}
#timer-button-grid {
  width: 20%;
}
#timer-button-grid button {
  width: 90%;
  background-color: white;
  height: 20%;
  margin: 2vh 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2vw;
}
#back-button,
#next-button {
  width: 20%;
  height: 20vh;
  margin: auto;
  border-radius: 20px;
  font-size: xx-large;
  color: white;
  cursor: pointer;
  font-size: 5vw;
  border: none;
  box-shadow: 0 9px #999;
}
#back-button {
  background-color: F93F3F;
}
#back-button:hover {
  background-color: rgb(226, 28, 13);
}
#back-button:active {
  background-color: rgb(226, 28, 13);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#next-button {
  background-color: 2cb82c;
}
#next-button:hover {
  background-color: rgb(0, 124, 0);
}
#next-button:active {
  background-color: rgb(0, 124, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#direction {
  width: 60vw;
  border: solid black 1px;
  border-radius: 10px;
  margin: 10px;
  height: 60vh;
}
#direction-img,
#direction-video {
  border: solid black 1px;
  height: 45%;
  width: 95%;
  margin: 10px;
}
#img-and-video {
  width: 30vw;
}
#number {
  background-color: black;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  margin: 10px;
  color: white;
  font-size: 2vw;
  line-height: 5vw;
}

main {
  min-height: 100%;
  padding: 10px;
}
