#contribute-form {
  display: flex;
  min-height: 100%;
}

#left-side,
#right-side {
  padding: 30px;
}

#left-side {
  width: 30%;
}

#right-side {
  width: 70%;
}

#recipe-left-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

#submit-img {
  width: 30vw;
  height: 20vw;
  background-image: url("/static/common/defaultimg.jpeg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  font-size: 0px;
}
#submit-img::file-selector-button {
  display: none;
}

input,
textarea {
  border-radius: 4px;
  border: solid rgb(255, 164, 164) 1px;
  font-size: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  line-height: 30px;
}

.input-left-text {
  height: 50%;
  width: 80%;
}

#recipe-left-grid > div {
  margin-left: 10px;
  height: 80px;
}

.input-right-text {
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
}

.right-textarea {
  width: 95%;
  height: 150px;
}

#bottom-buttons {
  width: 95%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#submit-button {
  width: 15vw;
  height: 3vw;
  cursor: pointer;
  font-size: large;
}

#cancel-button {
  cursor: pointer;
  background-color: grey;
  border-color: grey;
  width: 10vw;
  height: 3vw;
  font-size: large;
}

.red-star {
  color: red;
}

.category-checkbox {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  filter: hue-rotate(140deg);
}

.category-label {
  cursor: pointer;
  font-size: 20px;
}

label {
  display: inline-block;
  margin-bottom: 3px;
}

.category-line {
  display: flex;
  margin-bottom: 30px;
}

button {
  transition-duration: 0.5s;
  background-color: #ffa4a4;
  color: white;
  border: #ffa4a4 solid 1px;
  border-radius: 5px;
}

button:hover {
  background-color: white !important;
  color: black;
  border: #ffa4a4 solid 1px;
}

button:active {
  transform: scale(0.6);
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}
