#contribute-form {
  display: flex;
  margin-bottom: 200px;
}
#left-side,
#right-side {
  padding: 30px;
}
#left-side {
  width: 30%;
}
#right-side {
  width: 70%;
}
#recipe-left-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

#submit-img {
  width: 30vw;
  height: 20vw;
  background-image: url("/static/common/defaultimg.jpeg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  font-size: 0px;
}
#submit-img::file-selector-button {
  display: none;
}
input,
textarea {
  border-radius: 4px;
  border: solid grey 1px;
  font-size: 20px;
}
.input-left-text {
  height: 50%;
  width: 80%;
}

#recipe-left-grid > div {
  margin-left: 10px;
  height: 80px;
}

.input-right-text {
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
}
.right-textarea {
  width: 95%;
  height: 150px;
}

#submit-button {
  margin-top: 50px;
  background-color: orange;
  color: white;
  width: 15vw;
  height: 3vw;
  cursor: pointer;
  font-size: large;
}
#cancel-button {
  cursor: pointer;
  background-color: grey;
  color: white;
  width: 10vw;
  height: 3vw;
  left: 52%;
  position: relative;
  font-size: large;
}
.red-star {
  color: red;
}

.category-checkbox {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.category-label {
  cursor: pointer;
  font-size: 20px;
}

textarea,
input[type="text"] {
  padding: 20px;
}
