#contribute-form {
  display: flex;
  min-height: 100%;
}

#left-side,
#right-side {
  padding: 30px;
}

#left-side {
  width: 30%;
}

#right-side {
  width: 70%;
}

#recipe-left-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

#submit-img-box {
  width: 30vw;
  height: 20vw;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  border: solid grey 1px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.24);
}

#submit-img {
  width: 30vw;
  height: 20vw;
  background-image: url("/static/common/demorecipe.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
  font-size: 0;
}

#submit-img::file-selector-button {
  display: none;
}

#submit-img-label {
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  display: block;
  background-color: rgba(0, 0, 0, 0.315);
  width: 30vw;
  height: 20vw;
  color: white;
  text-align: center;
  line-height: 20vw;
}

input,
textarea {
  border-radius: 4px;
  border: solid rgb(255, 164, 164) 1px;
  font-size: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  line-height: 30px;
  box-shadow: 0px 4px 4px rgba(255, 164, 164, 0.24);
}

.input-left-text {
  height: 50%;
  width: 80%;
}

#recipe-left-grid > div {
  margin-left: 10px;
  height: 80px;
}

.input-right-text {
  width: 95%;
  height: 40px;
  margin-bottom: 17px;
}

.right-textarea {
  width: 95%;
  height: 150px;
}

#bottom-buttons {
  width: 95%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#submit-button {
  width: 15vw;
  height: 3vw;
  cursor: pointer;
  font-size: large;
  background-color: #ffa4a4;
  border: #ffa4a4 solid 1px;
}

#cancel-button {
  cursor: pointer;
  background-color: grey;
  border: grey solid 1px;
  width: 10vw;
  height: 3vw;
  font-size: large;
}

.red-star {
  color: red;
  margin-left: 2px;
}

.category-checkbox {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  filter: hue-rotate(140deg);
}

.category-label {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 0;
}

label {
  display: inline-block;
  margin-bottom: 3px;
}

.category-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#submit-button,
#cancel-button {
  transition-duration: 0.5s;
  color: white;
  border-radius: 5px;
}

#submit-button:hover,
#cancel-button:hover {
  background-color: white;
  color: black;
}

#submit-button:active,
#cancel-button:active {
  transform: scale(0.6);
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}
