<link
  rel="stylesheet"
  href="components/recipe-contribute/recipe-contribute.css"
/>

<form id="contribute-form">
  <section id="left-side">
    <h1>Recipe Cover Image</h1>
    <label for="submit-img" id="submit-img-label">Upload Image</label>
    <input type="file" id="submit-img" />

    <h1>Nutrients</h1>
    <div id="recipe-left-grid">
      <div>
        <label for="input-colories">Calories</label><br />
        <input
          type="number"
          min="0"
          step="0.01"
          id="input-colories"
          class="input-left-text"
        />
      </div>
      <div>
        <label for="input-protein">Protein (in grams)</label><br />
        <input
          type="number"
          min="0"
          step="0.01"
          id="input-protein"
          class="input-left-text"
        />
      </div>

      <div>
        <label for="input-fat">Fat (in grams)</label><br />
        <input
          type="number"
          min="0"
          step="0.01"
          id="input-fat"
          class="input-left-text"
        />
      </div>
      <div>
        <label for="input-number-of-servings">Number of servings</label><br />
        <input
          type="number"
          min="0"
          step="0.1"
          id="input-number-of-servings"
          class="input-left-text"
        />
      </div>
    </div>
    <h1>Categories</h1>
    <div class="category-line">
      <input type="checkbox" id="input-vegan" class="category-checkbox" /><label
        for="input-vegan"
        class="category-label"
        >Vegan</label
      >
    </div>
    <div class="category-line">
      <input
        type="checkbox"
        id="input-vegetarian"
        class="category-checkbox"
      /><label for="input-vegetarian" class="category-label">Vegetarian</label>
    </div>
    <div class="category-line">
      <input
        type="checkbox"
        id="input-gluten-free"
        class="category-checkbox"
      /><label for="input-gluten-free" class="category-label"
        >Gluten-Free</label
      >
    </div>
    <div class="category-line">
      <input
        type="checkbox"
        id="input-high-protein"
        class="category-checkbox"
      /><label for="input-high-protein" class="category-label"
        >High Protein</label
      >
    </div>
    <div class="category-line">
      <input
        type="checkbox"
        id="input-healthy"
        class="category-checkbox"
      /><label for="input-healthy" class="category-label">Healthy</label>
    </div>
  </section>
  <section id="right-side">
    <h1>Recipe General Information</h1>
    <div>
      <label for="input-recipe-title"
        >Recipe Title<span class="red-star">*</span></label
      ><br />
      <input
        type="text"
        id="input-recipe-title"
        class="input-right-text"
        required
      />
    </div>
    <div>
      <label for="input-author">Author<span class="red-star">*</span></label
      ><br />
      <input type="text" id="input-author" class="input-right-text" required />
    </div>
    <div>
      <label for="input-video-url">Video URL</label><br />
      <input type="text" id="input-video-url" class="input-right-text" />
    </div>
    <div>
      <label for="input-time"
        >Time (in minutes)<span class="red-star">*</span></label
      ><br />
      <input
        type="number"
        min="0"
        step="0.1"
        id="input-time"
        class="input-right-text"
        required
      />
    </div>
    <div>
      <label for="input-cost"
        >Cost (in USD)<span class="red-star">*</span></label
      ><br />
      <input
        type="number"
        min="0"
        step="0.01"
        id="input-cost"
        class="input-right-text"
        required
      />
    </div>
    <div>
      <label for="input-description"
        >Description<span class="red-star">*</span></label
      ><br />
      <textarea
        id="input-description"
        class="right-textarea"
        required
      ></textarea>
    </div>
    <h1>Ingredients<span class="red-star">*</span></h1>

    <textarea
      id="input-ingredient"
      class="right-textarea"
      placeholder="Put each ingredient on its own line."
    ></textarea>

    <h1>Directions<span class="red-star">*</span></h1>

    <textarea
      id="input-direction"
      class="right-textarea"
      placeholder="Put each step on its own line."
    ></textarea>

    <button id="submit-button">Submit</button>
    <button id="cancel-button">Cancel</button>
  </section>
</form>
