<link rel="stylesheet" href="components/recipe-search/recipe-search.css" />

<!-- INCLUDE HTML HERE -->
<!-- DO NOT INCLUDE <html>, <head>, or <body> -->
<div id="search-bar">abs</div>
<div id="recipe-box">
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
  <div class="recipe-card">recipe</div>
</div>
