main {
  min-height: 100%;
}

#search-form {
  height: 50px;
  width: 80%;
  margin: 50px auto;
  display: flex;
}

#search-box {
  display: flex;
  height: 50px;
  border: solid 1px black;
}
#search-input {
  border: none;
  font-size: 30px;
  width: 60vw;
}
#filter-button {
  height: 100%;
  cursor: pointer;
}
#search-button {
  margin-left: 20px;
  width: 150px;
  cursor: pointer;
}

common-recipe-card {
  max-width: 200px;
}

#filter-form {
  border: solid;
  position: fixed;
  margin: auto;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 30px 80px;
  z-index: 999;
}

#close-button {
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#recipe-card-grid {
  display: flex;
  flex-wrap: wrap;
}

#submit-button,
#reset-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 30px;
}

#submit-button {
  margin-left: 50px;
}
