<link rel="stylesheet" href="components/recipe-search/recipe-search.css" />

<main>
  <form id="search-form">
    <div id="search-box">
      <input type="text" id="search-input" />
      <img
        src="static/common/filter-icon.png"
        id="filter-button"
        alt="filter"
      />
    </div>

    <input type="submit" id="search-button" class="buttons" value="Search" />

    <div id="filter-form">
      <img id="close-button" src="static/common/close-icon.png" />
      <div id="cost-form">
        <h3 class="filter-name">Cost</h3>
        <div>
          <label for="input-cost-min" class="label-cost">Min</label>
          <input type="number" id="input-cost-min" class="input-cost" />
        </div>
        <div>
          <label for="input-cost-max" class="label-cost">Max</label>
          <input type="number" id="input-cost-max" class="input-cost" />
        </div>
      </div>

      <div id="category-form">
        <h3 class="filter-name">Categories</h3>
        <div>
          <input
            type="checkbox"
            id="input-gluten-free"
            class="input-category"
          />
          <label for="input-gluten-free">Gluten-Free</label>
        </div>
        <div>
          <input type="checkbox" id="input-healthy" class="input-category" />
          <label for="input-healthy">Healthy</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="input-high-protein"
            class="input-category"
          />
          <label for="input-high-protein">High Protein</label>
        </div>
        <div>
          <input type="checkbox" id="input-vegan" class="input-category" />
          <label for="input-vegan">Vegan</label>
        </div>
        <div>
          <input type="checkbox" id="input-vegetarian" class="input-category" />
          <label for="input-vegetarian">Vegetarian</label>
        </div>
      </div>

      <!-- There are 5 kinds of sort, when default or click clear button, it is default sort. -->
      <div id="sort-form">
        <h3 class="filter-name">Sort</h3>
        <div>
          <input
            type="radio"
            id="sort-time-descending"
            class="input-sort"
            name="sort-type"
            value="sort-time-descending"
          />
          <label for="sort-time-descending">Time ↓</label>
        </div>
        <div>
          <input
            type="radio"
            id="sort-time-ascending"
            class="input-sort"
            name="sort-type"
            value="sort-time-ascending"
          />
          <label for="sort-time-ascending">Time ↑</label>
        </div>
        <div>
          <input
            type="radio"
            id="sort-cost-descending"
            class="input-sort"
            name="sort-type"
            value="sort-cost-descending"
          />
          <label for="sort-cost-descending">Cost ↓</label>
        </div>
        <div>
          <input
            type="radio"
            id="sort-cost-ascending"
            class="input-sort"
            name="sort-type"
            value="sort-cost-ascending"
          />
          <label for="sort-cost-ascending">Cost ↑</label>
        </div>
      </div>
      <input type="reset" id="reset-button" class="buttons" />
    </div>
  </form>

  <div id="recipe-card-grid">
    <!-- put recipe cards here -->
  </div>

  <div id="recipe-pagination">
    <!-- put pagination here -->
  </div>
</main>
<div id="cover"></div>
