main {
  min-height: 100%;
  width: 95%;
  margin: auto;
}

#search-form {
  height: 50px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  
}

#search-box {
  display: flex;
  height: 50px;
  border: solid 1px black;
  border-radius: 7px;
}
#search-input {
  border: none;
  font-size: 30px;
  width: 75vw;
  border-radius: 7px;
}
#filter-button {
  height: 100%;
  cursor: pointer;
}
#search-button {
  margin-left: 20px;
  width: 150px;
  cursor: pointer;
}

/* stylelint-disable selector-type-no-unknown */
common-recipe-card {
  max-width: 200px;
}

#filter-form {
  border: solid;
  position: fixed;
  margin: auto;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 30px 80px;
  z-index: 999;
}

#close-button {
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#recipe-card-grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  row-gap: 5vh;
  column-gap: 5vh;
  justify-content: center;
}

#submit-button,
#reset-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 30px;
}

#submit-button {
  margin-left: 50px;
}

#recipe-pagination {
  display: inline-block;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 1.3vw;
  cursor: pointer;
}

a.active {
  background-color: rgb(27, 180, 231);
  color: white;
}

a:hover:not(.active) {
  background-color: #ddd;
}
