<link rel="stylesheet" href="components/recipe-search/recipe-search.css" />

<!-- INCLUDE HTML HERE -->
<!-- DO NOT INCLUDE <html>, <head>, or <body> -->
<main>
  <!-- there are two forms, one is search form, another is  -->
  <form id="search-form">
    <div id="search-box">
      <input type="text" id="search-input">
      <img src="static/common/filter-icon.png" id="filter-button" alt="filter">
    </div>

    <input type="submit" id="search-button">

  </form>

  <!-- filter form -->
  <form id="filter-form">
    <img id="close-button" src="static/common/close-icon.png">
    <div id="cost-form">
      <h3>Cost</h3>
      <div>
        <label for="input-cost-min">Min</label>
        <input type="number" id="input-cost-min" class="input-cost" />
      </div>
      <div>
        <label for="input-cost-max">Max</label>
        <input type="number" id="input-cost-max" class="input-cost" />
      </div>
    </div>

    <div id="category-form">
      <h3>Categories</h3>
      <div>
        <input type="checkbox" id="input-gluten-free" class="input-category">
        <label for="input-gluten-free">gluten-free</label>
      </div>
      <div>
        <input type="checkbox" id="input-healthy" class="input-category">
        <label for="input-healthy">healthy</label>
      </div>
      <div>
        <input type="checkbox" id="input-high-protein" class="input-category">
        <label for="input-high-protein">high-protein</label>
      </div>
      <div>
        <input type="checkbox" id="input-vegan" class="input-category">
        <label for="input-vegan">vegan</label>
      </div>
      <div>
        <input type="checkbox" id="input-vegetarian" class="input-category">
        <label for="input-vegetarian">vegetarian</label>
      </div>
    </div>

    <div id="sort-form">
      <h3>Sort</h3>
      <div>
        <input type="radio" id="sort-time-descending" class="input-sort">
        <label for="sort-time-descending">time ↓</label>
      </div>
      <div>
        <input type="radio" id="sort-time-ascending" class="input-sort">
        <label for="sort-time-ascending">time ↑</label>
      </div>
      <div>
        <input type="radio" id="sort-cost-descending" class="input-sort">
        <label for="sort-cost-descending">cost ↓</label>
      </div>
      <div>
        <input type="radio" id="sort-cost-ascending" class="input-sort">
        <label for="sort-cost-ascending">cost ↑</label>
      </div>

    </div>

    <input type="submit" id="submit-button">
    <input type="reset" id="reset-button">
  </form>

  <div id="recipe-cart-grid">
    <!-- put recipe cards here -->
  </div>


</main>