#footer-content {
  text-align: center;
  background-color: lightgrey;
  padding-top: .5vh;
  padding-bottom: .5vh;
}
#team-logo {
  width: 40px;
  height: 40px;
}
#footer {
  vertical-align: middle;
}
