main {
  text-align: center;
}
* {
  border: solid 1px;
}

#introduction-grid {
  height: 1000px;
}
#introduction-title-grid {
  height: 400px;
  background-color: purple;
}
#introduction-bottom-grid {
}
#team-img,
#team-story {
  width: 49%;
  height: 200px;
  padding: 50px;
}
#team-story {
  text-align: left;
}

#member-grid {
  width: 1024px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.member-card {
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}
.member-img {
  height: 250px;
  width: 100%;
}
.member-name,
.member-position {
  text-decoration: underline;
}
