<link rel="stylesheet" href="components/about-us/about-us.css" />

<main>
  <div id="introduction-grid">
    <div id="introduction-title-grid">
      <div id="introduction-title-grid-title">Our Story</div>
    </div>
    <div id="introduction-bottom-grid">
      <img id="introduction-bottom-img" src="static/common/defaultimg.jpeg" />
      <div id="introduction-bottom-text">
        Not too long ago, we were merely just 11 students enrolled in Professor
        Powell’s CSE 110 Software Engineering course. Edbert Dai and Tri Dao
        together united with the mission of taking us into the promise land as
        our leaders. Enzo de Oliveira and Jeffrey Morales forecasted and
        continuously did everything in their power to look 10 steps ahead. Jiayi
        Zhao and Avery Pham valiantly stepped into the dark abyss to transform
        our ideas into a vision. Justin Butera, Fangcheng Dou, and Zhuoran Tang
        methodically, meticulously, and mightily developed our vision, and
        evolved it into a reality. During this all, Baha Keskin and Haonan Jiang
        ensured that every step we took along the way was carefully measured,
        calculated, and tested to perfection. Through all our endeavors, we did
        one thing for certain; we did it together. Together, we are the Red
        Pandas.
      </div>
    </div>
  </div>
  <div id="our-team">Our Team</div>

  <div id="member-grid">
    <div class="member-card">
      <img class="member-img" src="static/about-us/edbert.JPG" />
      <div class="member-firstname">Edbert</div>
      <div class="member-secondname">Dai</div>
      <div class="member-position">Leader</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/tri.JPG" />
      <div class="member-firstname">Tri</div>
      <div class="member-secondname">Dao</div>
      <div class="member-position">Leader</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/jeffrey.jpg" />
      <div class="member-firstname">Jeffrey</div>
      <div class="member-secondname">Morales</div>
      <div class="member-position">Planner</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/enzo.jpg" />
      <div class="member-firstname">Enzo de</div>
      <div class="member-secondname">Oliveira</div>
      <div class="member-position">Planner</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/jiayi.jpg" />
      <div class="member-firstname">Jiayi</div>
      <div class="member-secondname">Zhao</div>
      <div class="member-position">Designer</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/avery.jpg" />
      <div class="member-firstname">Avery</div>
      <div class="member-secondname">Pham</div>
      <div class="member-position">Designer</div>
    </div>
    <div class="member-card">
      <img class="member-img" src="static/about-us/fangcheng.jpg" />
      <div class="member-firstname">Fangcheng</div>
      <div class="member-secondname">Dou</div>
      <div class="member-position">Developer</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/justin.jpg" />
      <div class="member-firstname">Justin</div>
      <div class="member-secondname">Butera</div>
      <div class="member-position">Developer</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/zhuoran.jpg" />
      <div class="member-firstname">Zhuoran</div>
      <div class="member-secondname">Tang</div>
      <div class="member-position">Developer</div>
    </div>
    <div class="member-card">
      <img class="member-img" src="static/about-us/baha.jpg" />
      <div class="member-firstname">Baha</div>
      <div class="member-secondname">Keskin</div>
      <div class="member-position">Tester</div>
    </div>

    <div class="member-card">
      <img class="member-img" src="static/about-us/haonan.JPG" />
      <div class="member-firstname">Haonan</div>
      <div class="member-secondname">Jiang</div>
      <div class="member-position">Tester</div>
    </div>
  </div>
</main>
