<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="about-us.css" />
  </head>

  <body>
    <main>
      <div id="introduction-grid">
        <div id="introduction-title-grid">
          <div id="introduction-title-grid-title">Our Story</div>
        </div>
        <div id="introduction-bottom-grid">
          <img id="introduction-bottom-img" src="" />
        </div>
      </div>
      <!-- <img id="team-img" src="" />
        <div id="box"></div>
        <div id="team-story">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          eveniet eum ipsa sunt voluptates quasi, voluptatem, necessitatibus
          dignissimos est harum quis pariatur quia veritatis corporis minima
          quae veniam a rerum!
        </div> -->

      <div id="our-team">Our Team</div>
      <div id="member-grid">
        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" />
          <div class="member-name">Name</div>
          <div class="member-position">Position</div>
        </div>
      </div>
    </main>
  </body>
</html>
