main {
  text-align: center;
}

#introduction-grid {
  height: 800px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#introduction-title-grid {
  line-height: 200px;
  background-color: #68a1f6;
}

#introduction-title-grid-title {
  font-size: 100px;
  font-family: "Sofia";
}
#introduction-bottom-grid {
  height: max-content;
  background: linear-gradient(110deg, #ffd753 40%, #e990d6 40%);
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#introduction-bottom-grid::-webkit-scrollbar {
  display: none;
}

#introduction-bottom-img {
  height: 400px;
  width: 30vw;
  min-width: 600px;
  margin: 100px 4vw 100px 4vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url("/static/about-us/team29.jpg");
}
#introduction-bottom-text {
  height: 400px;
  width: 50vw;
  margin: 100px 4vw 100px 4vw;
  font-size: 1.25vw;
  text-align: left;
}
#our-team {
  line-height: 200px;
  font-family: "Sofia";
  font-size: 100px;
  background-color: #41cad2;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#member-grid {
  width: 1024px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: auto;
}
.member-card {
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}
.member-img {
  object-fit: cover;
  margin: 20px 0px;
  height: 266px;
  width: 100%;
  border-radius: 20px;
}
.member-firstname,
.member-secondname {
  font-size: 20px;
}
.member-position {
  margin: 20px 0px;
  color: grey;
}
