<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="about-us.css" />
  </head>

  <body>
    <main>
      <div id="introduction-grid">
        <div id="introduction-title-grid">
          <div id="introduction-title-grid-title">Our Story</div>
        </div>
        <div id="introduction-bottom-grid">
          <img
            id="introduction-bottom-img"
            src="../../static/common/defaultimg.jpeg"
          />
          <div id="introduction-bottom-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            voluptatem obcaecati soluta natus? Voluptatum consequatur corrupti
            est iure voluptate doloribus et nesciunt cumque architecto! Deleniti
            est molestias accusamus minima eveniet?
          </div>
        </div>
      </div>
      <div id="our-team">Our Team</div>

      <div id="member-grid">
        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>
        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>
        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>

        <div class="member-card">
          <img class="member-img" src="../../static/common/demorecipe.jpg" />
          <div class="member-firstname">firstname</div>
          <div class="member-secondname">secondname</div>
          <div class="member-position">Position</div>
        </div>
      </div>
    </main>
  </body>
</html>
