<link rel="stylesheet" href="components/meal-planner/meal-planner.css" />

<main>
  <h1 id="title">Weekly Meal Planner</h1>
  <div id="sub-title">
    For the week of
    <input type="text" id="week-number" placeholder="Enter the Week" />
  </div>
  <img
    id="print-button"
    src="static/meal-planner/circle-print.png"
    onclick="window.print();"
  />
  <div id="flexbox">
    <!-- search -->
    <div id="search-part">
      <img id="close-search" src="static/common/close-icon.png" />
      <div id="instruction">Drag card into planner</div>
      <form id="search-input-grid">
        <img id="search-input-icon" src="static/common/search-icon.png" />
        <input type="text" id="search-input" placeholder="Search" />
        <input type="submit" id="search-button" value="Submit" />
      </form>

      <div id="search-result">
        <!-- put search result here -->
      </div>
    </div>

    <section id="planner-grid">
      <!-- day -->
      <div class="date center">
        <div></div>
      </div>
      <div class="date center">
        <div>Sunday</div>
      </div>
      <div class="date center">
        <div>Monday</div>
      </div>
      <div class="date center">
        <div>Tuesday</div>
      </div>
      <div class="date center">
        <div>Wednesday</div>
      </div>
      <div class="date center">
        <div>Thursday</div>
      </div>
      <div class="date center">
        <div>Friday</div>
      </div>
      <div class="date center">
        <div>Saturday</div>
      </div>

      <!-- breakfast -->
      <div class="meal center">
        <div>Breakfast</div>
      </div>
      <div class="meal-card">
        <!--
        <div class="meal-card-img"></div>
        <div class="meal-card-div">
          <div class="meal-card-name">burger burger burger</div>
          <button class="meal-card-delete-button">Remove</button>
        </div>
        -->
      </div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>

      <!-- Lunch -->
      <div class="meal center">
        <div>Lunch</div>
      </div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>

      <!-- Dinner -->
      <div class="meal center">
        <div>Dinner</div>
      </div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>

      <div class="meal center">
        <div>Total Nutrition</div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calory-total">
            <span class="calories">0</span> Calories
          </div>
          <div class="fat-total"><span class="fat">0</span> of fat</div>
          <div class="protein-total">
            <span class="protein">0</span> of protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calory-total">
            <span class="calories">0</span> Calories
          </div>
          <div class="fat-total"><span class="fat">0</span> of fat</div>
          <div class="protein-total">
            <span class="protein">0</span> of protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calory-total">
            <span class="calories">0</span> Calories
          </div>
          <div class="fat-total"><span class="fat">0</span> of fat</div>
          <div class="protein-total">
            <span class="protein">0</span> of protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calory-total">
            <span class="calories">0</span> Calories
          </div>
          <div class="fat-total"><span class="fat">0</span> of fat</div>
          <div class="protein-total">
            <span class="protein">0</span> of protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calory-total">
            <span class="calories">0</span> Calories
          </div>
          <div class="fat-total"><span class="fat">0</span> of fat</div>
          <div class="protein-total">
            <span class="protein">0</span> of protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calory-total">
            <span class="calories">0</span> Calories
          </div>
          <div class="fat-total"><span class="fat">0</span> of fat</div>
          <div class="protein-total">
            <span class="protein">0</span> of protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calory-total">
            <span class="calories">0</span> Calories
          </div>
          <div class="fat-total"><span class="fat">0</span> of fat</div>
          <div class="protein-total">
            <span class="protein">0</span> of protein
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
