main {
  text-align: center;
  min-height: 100%;
}

#planner-grid {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#print-button {
  width: 40px;
  position: absolute;
  top: 100px;
  right: 50px;
  cursor: pointer;
}
#planner-grid > div {
  border: solid black 1px;
  width: 100%;
}

.meal-card {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

#flexbox {
  display: flex;
  margin: 20px;
  height: 75vh;
  max-height: 50vw;
}

#search-part {
  width: 30%;
  border: solid black 1px;
  padding: 20px;
  position: relative;
  display: none;
}

#search-input-grid {
  width: 100%;
  height: 30px;
  border: 0.5px solid grey;
  text-align: left;
  display: flex;
}

#search-input {
  all: unset;
  height: 100%;
  width: 100%;
}

#search-input-icon {
  height: 100%;
  cursor: pointer;
}

#search-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  overflow-y: scroll;
  height: 80%;
  grid-auto-rows: 15vh;
}
#search-result::-webkit-scrollbar {
  display: none;
}

#close-search {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  cursor: pointer;
}

.meal-card-add {
  background-image: url(/static/meal-planner/circle-plus.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-size: 50%;
}

.meal-card-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.747);
  cursor: pointer;
  transform: translateY(100%);
  transition: 0.5s;
  opacity: 0;
}

.meal-card:hover .meal-card-div {
  transform: translateY(0);
  opacity: 1;
}

.meal-card-name {
  margin-top: 20px;
  font-size: large;
  width: 100%;
}

.meal-card-delete-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.center {
  position: relative;
}

.center > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.meal-card-img {
  background-image: url(/static/common/demorecipe.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
