main {
  min-height: 100%;
  min-width: 1024px;
  text-align: center;
}

.center {
  position: relative;
}

.center > div {
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.planner-cell {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  overflow: hidden;
  position: relative;
}

.planner-cell-add {
  background-image: url(/static/meal-planner/circle-plus.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 50%;
}

#close-search {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#flexbox {
  height: 75vh;
  margin: 20px;
  max-height: 50vw;
}

#instruction {
  margin: 10px;
}

#load-message {
  background-color: white;
  border: solid;
  left: 50%;
  margin: auto;
  padding: 30px 80px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#planner-grid {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  justify-items: center;
  width: 100%;
}

#print-button {
  cursor: pointer;
  right: 50px;
  top: 100px;
  vertical-align: middle;
  width: 60px;
}

#planner-grid > div {
  border: solid black 1px;
  width: 100%;
}

#search-input-grid {
  border: 0.5px solid grey;
  display: flex;
  height: 30px;
  margin: 0 auto 10px;
  text-align: left;
  width: 90%;
}

#search-input {
  all: unset;
  height: 100%;
  width: 100%;
}

#search-input-icon {
  cursor: pointer;
  height: 100%;
}

#search-result {
  display: flex;
  flex-direction: column;
  height: 75%;
  overflow: scroll;
  padding: 4vh 4vh;
  row-gap: 4vh;
}

#search-result::-webkit-scrollbar {
  display: none;
}

#search-sidebar {
  border: solid black 1px;
  display: none;
  overflow: hidden;
  position: relative;
  width: 50vh;
}
