<link rel="stylesheet" href="components/meal-planner/meal-planner.css" />

<main>
  <h1 id="title">Weekly Meal Planner</h1>
  <div id="header">
    <br />
    Sharing link
    <input id="link-field" type="text" readonly />
    <img
      id="copy-link-image"
      src="static/meal-planner/copy.png"
      alt="Copy link button"
    />
    <span id="copy-message">Copied!</span>
  </div>
  <div id="load-message">
    Loading meal planner… <span id="load-progress">0</span>%
  </div>
  <div id="flexbox">
    <!-- search -->
    <div id="search-sidebar">
      <img id="close-search" src="static/common/close-icon.png" />
      <div id="instruction">Drag card into planner</div>
      <form id="search-input-grid">
        <img id="search-input-icon" src="static/common/search-icon.png" />
        <input type="text" id="search-input" placeholder="Search" />
        <input type="submit" id="search-button" value="Search" />
      </form>

      <div id="search-result">
        <!-- put search result here -->
      </div>
    </div>

    <section id="planner-grid">
      <!-- day -->
      <div class="date top-left-corner">
        <div></div>
      </div>
      <div class="date center">
        <div>Sunday</div>
      </div>
      <div class="date center">
        <div>Monday</div>
      </div>
      <div class="date center">
        <div>Tuesday</div>
      </div>
      <div class="date center">
        <div>Wednesday</div>
      </div>
      <div class="date center">
        <div>Thursday</div>
      </div>
      <div class="date center">
        <div>Friday</div>
      </div>
      <div class="date center top-right-corner">
        <div>Saturday</div>
      </div>

      <!-- breakfast -->
      <div class="meal center">
        <div>Breakfast</div>
      </div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>

      <!-- Lunch -->
      <div class="meal center">
        <div>Lunch</div>
      </div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>

      <!-- Dinner -->
      <div class="meal center">
        <div>Dinner</div>
      </div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>
      <div class="planner-cell"></div>

      <div class="meal center bottom-left-corner">
        <div>Total Nutrition</div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calorie-total">
            <span class="calories">0</span> calories
          </div>
          <div class="fat-total"><span class="fat">0</span>g fat</div>
          <div class="protein-total">
            <span class="protein">0</span>g protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calorie-total">
            <span class="calories">0</span> calories
          </div>
          <div class="fat-total"><span class="fat">0</span>g fat</div>
          <div class="protein-total">
            <span class="protein">0</span>g protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calorie-total">
            <span class="calories">0</span> calories
          </div>
          <div class="fat-total"><span class="fat">0</span>g fat</div>
          <div class="protein-total">
            <span class="protein">0</span>g protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calorie-total">
            <span class="calories">0</span> calories
          </div>
          <div class="fat-total"><span class="fat">0</span>g fat</div>
          <div class="protein-total">
            <span class="protein">0</span>g protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calorie-total">
            <span class="calories">0</span> calories
          </div>
          <div class="fat-total"><span class="fat">0</span>g fat</div>
          <div class="protein-total">
            <span class="protein">0</span>g protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center">
        <div class="total-nutrition-container">
          <div class="calorie-total">
            <span class="calories">0</span> calories
          </div>
          <div class="fat-total"><span class="fat">0</span>g fat</div>
          <div class="protein-total">
            <span class="protein">0</span>g protein
          </div>
        </div>
      </div>
      <div class="total-nutrition center bottom-right-corner">
        <div class="total-nutrition-container">
          <div class="calorie-total">
            <span class="calories">0</span> calories
          </div>
          <div class="fat-total"><span class="fat">0</span>g fat</div>
          <div class="protein-total">
            <span class="protein">0</span>g protein
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
