<html>
  <head>
    <title>Meal Planner</title>
    <link rel="stylesheet" href="meal-planner.css" />
    <script src="meal-planner.js"></script>
  </head>

  <body>
    <h1 id="title">Weekly Meal Planner</h1>
    <div id="sub-title">
      Fort the week of <span id="week-number">muscle building</span>
    </div>
    <img
      id="print-button"
      src="../../static/circle-print.png"
      onclick="window.print();"
    />
    <section id="planner-grid">
      <!-- day -->
      <div class="date"></div>
      <div class="date">Sunday</div>
      <div class="date">Monday</div>
      <div class="date">Tuesday</div>
      <div class="date">Wednesday</div>
      <div class="date">Thursday</div>
      <div class="date">Friday</div>
      <div class="date">Saturday</div>

      <!-- breakfast -->
      <div class="meal">Breakfast</div>
      <div class="meal-card" id="sample-meal"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>

      <!-- Lunch -->
      <div class="meal">Lunch</div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>

      <!-- Dinner -->
      <div class="meal">Dinner</div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
      <div class="meal-card"></div>
    </section>
  </body>
</html>
