.recipe {
  max-width: 1024px;
  margin: 5vh auto;
  width: 80vw;
}

.first-row {
  display: flex;
}

.recipe-image {
  object-fit: cover;
  width: 40%;
  border-radius: 10%;
}

.title-author-box {
  width: 60%;
  height: 350px;
  margin-left: 30px;
  position: relative;
  border: 1px solid #ffa4a4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(255, 164, 164, 0.24);
  padding: 30px;
}

.dish-name {
  font-size: 40px;
  line-height: 1em;
}

.author-name {
  font-size: 150%;
}

#first-row-bottom {
  position: absolute;
  bottom: 30px;
  width: 90%;
}

.info-nutrient-box {
  display: flex;
}

.info-box {
  width: 50%;
}

.nutrient-box {
  width: 50%;
  margin-left: 30px;
}

.category-list {
  display: flex;
}

#timer-display {
  font-size: 20vmin;
}

#timer-button-grid {
  margin: auto 0;
}

.timer-control-button {
  padding: 10px;
  width: 100px;
  cursor: pointer;
}

#reset-button {
  margin-top: 30px;
}

#vegan {
  color: rgb(90, 240, 232);
}

#vegetarian {
  color: rgb(131, 224, 24);
}

#gluten-free {
  color: #b78727;
}

#high-protein {
  color: violet;
}

#healthy {
  color: lightblue;
}

.detail-box {
  border: 1px solid #ffa4a4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(255, 164, 164, 0.24);
  padding: 30px;
  margin-top: 30px;
}

.detail-box-title {
  text-decoration: underline;
  font-size: 30px;
}

.detail-box-content {
  font-size: 20px;
}

.ingredients-box li,
.info-box li,
.nutrient-box li {
  margin: 10px 0;
}

.category-box li {
  margin-right: 40px;
}

.first-row-button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin: 5px 0 0 0;
}

/* Do not change display: none */
#recipe-video {
  display: none;
}

button {
  transition-duration: 0.5s;
  background-color: #ffa4a4;
  color: white;
  border: #ffa4a4 solid 1px;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
  border: #ffa4a4 solid 1px;
}

button:active {
  transform: scale(0.6);
}

#button-grid {
  justify-content: space-between;
  display: flex;
  width: 100%;
  float: bottom;
}

#timer {
  display: none;
  justify-content: space-around;
}

/* #timer {
  background-color: lightgray;
  width: 50vw;
  height: 30vh;
  border: solid black 1px;
  display: none;
} */

#timer-display {
  width: 80%;
  font-size: 8vw;
  line-height: 27vh;
}

#timer-button-grid {
  width: 20%;
}

#timer-button-grid button {
  width: 90%;
  height: 20%;
  margin: 2vh 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2vw;
}

#time-input-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  margin: 0 auto;
}

#time-input-container > div {
  display: flex;
}
