<link rel="stylesheet" href="components/recipe-details/recipe-details.css" />

<div class="recipe">
  <!-- This is the first row of the page, including the image and the author box-->
  <div class="first-row">
    <img class="recipe-image" src="" />
    <!-- the box on the right side of image-->
    <div class="title-author-box">
      <div class="dish-name"></div>
      <div id="categories">
        <div class="category-tag" id="high-protein">High Protein</div>
        <div class="category-tag" id="healthy">Healthy</div>
        <div class="category-tag" id="vegan">Vegan</div>
        <div class="category-tag" id="vegetarian">Vegetarian</div>
        <div class="category-tag" id="gluten-free">Gluten-Free</div>
      </div>
      <!-- recipe name, author, date and the url-->
      <div id="first-row-bottom">
        <div class="author-name"></div>
        <a href="" class="article-link">Link to Article</a>
        <div id="button-grid">
          <button id="edit-button" class="first-row-button">Edit</button>
          <button id="delete-button" class="first-row-button">Delete</button>
          <button id="cooking-mode-button" class="first-row-button">
            Cooking-Mode
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Description box-->
  <div class="description-box detail-box">
    <div class="description-title detail-box-title">Description</div>
    <p class="description detail-box-content"></p>
  </div>

  <div class="info-nutrient-box">
    <div class="info-box detail-box">
      <div class="info-title detail-box-title">Info</div>
      <ul class="info-list detail-box-content">
        <li>Cost: $<span id="cost"></span> per serving</li>
        <li>Time: <span id="time"></span> min</li>
        <li>Serving Size: <span id="servings"></span></li>
      </ul>
    </div>

    <div class="nutrient-box detail-box">
      <div class="nutrient-title detail-box-title">Nutrients (per serving)</div>
      <ul class="nutrient-list detail-box-content">
        <li><span id="calories"></span> Calories</li>
        <li><span id="fat"></span> of fat</li>
        <li><span id="protein"></span> of protein</li>
      </ul>
    </div>
  </div>

  <!-- ingredients box-->
  <div class="ingredients-box detail-box">
    <div class="ingredients-title detail-box-title">Ingredients</div>
    <div class="ingredients-list detail-box-content"></div>
  </div>

  <!-- Direction box-->
  <div class="direction-box detail-box">
    <div class="direction-title">
      <div class="detail-box-title">Directions</div>
      <button id="direction-video-button" class="first-row-button">
        Switch to Video
      </button>
      <button id="direction-text-button" class="first-row-button">
        Switch to Text
      </button>
    </div>
    <p class="direction-list detail-box-content"></p>
    <div id="recipe-video-container">
      <iframe id="recipe-video" allowfullscreen></iframe>
    </div>
  </div>
</div>
