.recipe {
  max-width: 1024px;
  margin: 5vh auto;
  width: 80vw;
}

.first-row {
  display: flex;
}

.recipe-image {
  object-fit: cover;
  width: 40%;
  border-radius: 10%;
}

.title-author-box {
  width: 60%;
  height: 350px;
  margin-left: 30px;
  position: relative;
  border: 1px solid grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.dish-name {
  font-size: 350%;
  line-height: 1em;
}

.author-name {
  font-size: 150%;
}

#first-row-bottom {
  position: absolute;
  bottom: 30px;
}

.info-nutrient-box {
  display: flex;
}

.info-box {
  width: 50%;
}

.nutrient-box {
  width: 50%;
  margin-left: 30px;
}

.category-list {
  display: flex;
}

#timer {
  height: 300px;
  display: none;
}

#timer-display {
  font-size: 200px;
}

#timer-button-grid {
  margin: auto;
}

.timer-control-button {
  padding: 10px;
  width: 100px;
  cursor: pointer;
}

#reset-button {
  margin-top: 30px;
}

#vegan {
  color: rgb(90, 240, 232);
}
#vegetarian {
  color: rgb(131, 224, 24);
}
#gluten-free {
  color: #b78727;
}
#high-protein {
  color: violet;
}
#healthy {
  color: lightblue;
}

.detail-box {
  border: 1px solid grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin-top: 30px;
}

.detail-box-title {
  text-decoration: underline;
  font-size: 30px;
}

.detail-box-content {
  font-size: 20px;
}

.ingredients-box li,
.info-box li,
.nutrient-box li {
  margin: 10px 0;
}

.category-box li {
  margin-right: 40px;
}

.first-row-button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin: 5px 10px 0 0;
}

/* Do not change display: none */
#recipe-video {
  display: none;
}
