<link rel="stylesheet" href="components/recipe-details/recipe-details.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"
/>

<!-- Buttons for update and delete -->
<button id="edit-button">Edit</button>
<button id="delete-button">Delete</button>

<div class="recipe">
  <!-- This is the first row of the page, including the image and the author box-->
  <div class="first-row">
    <img class="recipe-image" src="/static/common/demorecipe.jpg" />
    <!-- the box on the right side of image-->
    <div class="title-author-box">
      <div class="dish-name">Vegetable Dish</div>
      <!-- recipe name, author, date and the url-->
      <div class="author-name">by Anonymous</div>
      <div class="recipe-url">https://amazingrecipe.com</div>
    </div>
  </div>

  <!-- Description box-->
  <div class="description-box">
    <div class="description-title">Description:</div>
    <div class="description">
      Description here asdfadfasdfasdfasdfasdfasdf
      asdfasdfasdasdjhfkajshdfjahsdfkjhaskdjhfkajsdhfkajhsd
      fkjsahfkajshdsdkjahfkjashdfkjahsdkjfhajksdhfkajshdfksadf
      fkjsahfkajshdsdkjahfkjashdfkjahsdkjfhajksdhfkajshdfksadf
      fkjsahfkajshdsdkjahfkjashdfkjahsdkjfhajksdhfkajshdfksadf
    </div>
  </div>

  <!-- flexbox includes info, category and nutrient box-->
  <div class="info-category-nutrient-box">
    <!-- flexbox includes info and category box-->
    <div class="info-category-box">
      <!-- infomation box-->
      <div class="info-box">
        <div class="info-title">Info:</div>
        <div class="info-list">
          <ul>
            <li>Cost: $<span id="cost">5</span> per serving</li>
            <li>Time: <span id="time">40</span> min</li>
            <li>Serving Size: <span id="servings">5</span></li>
          </ul>
        </div>
      </div>
      <!-- category box-->
      <div class="category-box">
        <div class="category-title">Categories:</div>
        <div class="category-list">
          <li id="vegan" style="color: #3aad53">Vegan</li>
          <li id="vegetarian" style="color: #3aad53">Vegetarian</li>
          <li id="gluten-free" style="color: #b78727">Gluten-Free</li>
          <li id="high-protein" style="color: #964b00">High Protein</li>
          <li id="healthy" style="color: #097d37">Healthy</li>
        </div>
      </div>
    </div>
    <!-- nutrient box-->
    <div class="nutrient-box">
      <div class="nutrient-title">Nutrients (per serving):</div>
      <div class="nutrient-list">
        <ul>
          <li><span id="calories">250</span> Calories</li>
          <li><span id="fat">3g</span> of fat</li>
          <li><span id="protein">4g</span> of protein</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ingredients box-->
  <div class="ingredients-box">
    <div class="ingredients-title">Ingredients:</div>
    <div class="ingredients-list">
      <ul>
        <li>3 cups of all purpose blour</li>
        <li>whatsup</li>
        <li>ketchup</li>
        <li>water</li>
        <li>water</li>
        <li>food</li>
        <li>food</li>
        <li>potato</li>
        <li>tomato</li>
      </ul>
    </div>
  </div>

  <!-- Direction box-->
  <div class="direction-box">
    <div class="direction-title">Directions:</div>
    <div class="direction-list">
      <ol>
        <li>3 cups of all purpose flour</li>
        <li>
          Heat Milk-Butter: While egg is beating, place butter and mile ina
          heatproof jug
        </li>
        <li>Whisk flour, baking powder and salt in a large bowl. Set aside</li>
        <li>food</li>
        <li>food</li>
      </ol>
    </div>
  </div>
  <!-- comment box-->
  <div class="comment-box">
    <div class="comment-box-input">
      <textarea rows="4" cols="50" style="font-size: 18pt">
User input here</textarea
      >
      <div class="submit-box">
        <button class="submit-button">Submit</button>
      </div>
    </div>

    <div class="comment-box-reply-container">
      <div class="comment-box-reply">display user input here</div>
      <div class="comment-box-reply">display user input here</div>
    </div>
  </div>
</div>
