.recipe {
  max-width: 1024px;
  margin: auto;
  width: 80vw;
}
.first-row {
  display: flex;
}
.recipe-image {
  object-fit: cover;
  width: 40%;
  height: 350px;
  margin-left: 1%;
  margin-top: 5%;
}

.title-author-box {
  width: 60%;
  height: 350px;
  margin-left: 1%;
  margin-top: 5%;
  border: 0.1em solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dish-name {
  font-family: Ubuntu;
  font-size: 300%;
  margin-left: 3%;
  margin-top: 5%;
}

.author-name {
  font-family: Ubuntu;
  font-size: 150%;
  margin-left: 3%;
  margin-top: 15%;
}

.author-date {
  font-family: Ubuntu;
  font-size: 150%;
  margin-left: 3%;
}

.recipe-url {
  font-family: Ubuntu;
  font-size: 150%;
  margin-left: 3%;
}

.description-box {
  width: 98.5%;
  height: 75%;
  margin-top: 3%;
  margin-left: 1%;
  border: 0.1em solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description-title {
  text-decoration: underline;
  font-family: Ubuntu;
  font-size: 200%;
  margin-left: 2vw;
  margin-top: 2vh;
}

.description {
  font-family: Ubuntu;
  font-size: 140%;
  margin-left: 3%;
  margin-top: 2%;
  overflow: hidden;
  margin-bottom: 3%;
}

.info-category-nutrient-box {
  display: flex;
}
.info-category-box {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin-left: 1%;
}

.info-box {
  width: 130%;
  margin-top: 5%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.category-box {
  width: 130%;
  margin-top: 5%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nutrient-box {
  width: 40%;
  margin-top: 3%;
  margin-left: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-title {
  text-decoration: underline;
  font-family: Ubuntu;
  font-size: 200%;
  margin-top: 3%;
  margin-left: 2%;
}

.info-list {
  font-family: Ubuntu;
  font-size: 140%;
  margin-top: 3%;
  margin-left: 1%;
}

.category-title {
  text-decoration: underline;
  font-family: Ubuntu;
  font-size: 150%;
  margin-top: 3%;
  margin-left: 2%;
}

.category-list {
  display: flex;
  margin-left: 5%;
  font-family: Ubuntu;
  font-size: 140%;
  color: #3aad53;
}

.nutrient-title {
  text-decoration: underline;
  font-family: Ubuntu;
  font-size: 200%;
  margin-top: 3%;
  margin-left: 2%;
}

.nutrient-list {
  text-align: left;
  font-family: Ubuntu;
  font-size: 140%;
  margin-top: 3%;
  margin-left: 1%;
}

.ingredients-box {
  width: 98.5%;
  margin-top: 3%;
  margin-left: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ingredients-title {
  text-align: center;
  text-decoration: underline;
  font-family: Ubuntu;
  font-size: 240%;
  margin-top: 3%;
}

.ingredients-list {
  font-family: Ubuntu;
  font-size: 140%;
}

li {
  margin: 3% 0;
}

.direction-box {
  width: 98.5%;
  margin-top: 3%;
  margin-left: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.direction-title {
  text-align: center;
  text-decoration: underline;
  font-family: Ubuntu;
  font-size: 200%;
  margin-top: 3%;
}

.direction-list {
  font-family: Ubuntu;
  font-size: 140%;
  margin-left: 2%;
}

.comment-box {
  width: 98.5%;
  margin-top: 3%;
  margin-left: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-flow: row wrap;
  font-family: Ubuntu;
  font-size: 140%;
}

.comment-box-input {
  display: flex;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-input {
  width: 70%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1%;
}

.picture-box {
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3%;
}

.submit-box {
  text-align: center;
  width: 8%;
  height: 3%;
  margin-top: 4%;
  margin-left: 3%;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment-box-reply {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment-box-reply1 {
  height: 10vh;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1%;
}
.comment-box-reply2 {
  height: 10vh;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1%;
}
