<html>
  <head>
    <title>Yummy</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script
      src="https://kit.fontawesome.com/e4decbc4b8.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script type="text/javascript" src="main.js"></script>
  </head>

  <body>
    <!-- header img part -->
    <header id="home-header">
      <h1 id="title">Welcome To Yummy Recipes!</h1>
      <!-- <i class="fa fa-star" id="star" ></i>
        <div id="star-text">Recipe of the Day</div> -->
    </header>

    <!-- 3*recipe category -->
    <div class="recipe-card-section">
      <h1 id="recipe-category-1" class="recipe-category">Chicken</h1>
      <i class="fa fa-angle-left arrow-button-left" id="prev-button-1"></i>
      <i class="fa fa-angle-right arrow-button-right" id="next-button-1"></i>

      <!-- the grid that contains horizontal scroll recipes -->
      <div class="recipe-card-grid" id="recipe-card-grid-1">
        <!-- template of recipe card -->
        <div class="recipe-card">
          <img
            class="recipe-card-image"
            alt="burger"
            src="../../static/home-page/demorecipe.jpg"
          />

          <div class="recipe-card-name"><div>burger</div></div>

          <!-- property grid -->
          <div class="recipe-card-stats">
            <div class="stat">
              <div>15</div>
              <div>min</div>
            </div>
            <div class="stat">
              <div>800</div>
              <div>cal</div>
            </div>

            <div class="stat">
              <div>80g</div>
              <div>protein</div>
            </div>
            <div class="stat">
              <div>80</div>
              <div>score</div>
            </div>
          </div>
        </div>

        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
      </div>
    </div>

    <div class="recipe-card-section">
      <h1 id="recipe-category-2" class="recipe-category">Vegan</h1>
      <i class="fa fa-angle-left arrow-button-left" id="prev-button-2"></i>
      <i class="fa fa-angle-right arrow-button-right" id="next-button-2"></i>
      <div id="recipe-card-grid-2" class="recipe-card-grid">
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
      </div>
    </div>

    <div class="recipe-card-section">
      <h1 id="recipe-category-3" class="recipe-category">Low-Calorie</h1>
      <i class="fa fa-angle-left arrow-button-left" id="prev-button-3"></i>
      <i class="fa fa-angle-right arrow-button-right" id="next-button-3"></i>
      <div id="recipe-card-grid-3" class="recipe-card-grid">
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
        <div class="recipe-card">your content</div>
      </div>
    </div>
  </body>
</html>
