<html>

<head>
    <title>Yummy</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    <!-- header img part -->
    <div id="home-header">
        <h1 id="title">Welcome To Yummy</h1>
        <i class="fa fa-star" style="font-size: 200px;"></i>
        <div id="star-text">Recipe of the Day</div>
    </div>

    <!-- 3*recipe category -->
    <div class="recipe-card-section">
        <h1 class="recipe-category-1">Chicken</h1>
        <i class="fa fa-angle-left prev-button-1" style="font-size:7vw"></i>
        <i class="fa fa-angle-right next-button-1" style="font-size:7vw"></i>

        <!-- the grid that contains horizontal scroll recipes -->
        <div class="recipe-card-grid-1">

            <!-- template of recipe card -->
            <div class="recipe-card">
                <img class="recipe-card-image" alt="burger" src="demorecipe.jpg">
                <h2 class="recipe-card-name">burger</h2>

                <!-- property grid -->
                <div class="recipe-card-stats">
                    <div class="stat">
                        <div class="value">15</div>
                        <div class="type">min</div>
                    </div>
                    <div class="stat">
                        <div class="value">800</div>
                        <div class="type">cal</div>
                    </div>

                    <div class="stat">
                        <div class="value">80g</div>
                        <div class="type">protein</div>
                    </div>
                    <div class="stat">
                        <div class="value">80</div>
                        <div class="type">score</div>
                    </div>
                </div>
            </div>

            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
        </div>
    </div>

    <div class="recipe-card-section">
        <h1 class="recipe-category-2">Vegan</h1>
        <i class="fa fa-angle-left prev-button-2" style="font-size:7vw"></i>
        <i class="fa fa-angle-right next-button-2" style="font-size:7vw"></i>
        <div class="recipe-card-grid-2">

            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
        </div>
    </div>

    <div class="recipe-card-section">
        <h1 class="recipe-category-3">Low-Calorie</h1>
        <i class="fa fa-angle-left prev-button-3" style="font-size:7vw"></i>
        <i class="fa fa-angle-right next-button-3" style="font-size:7vw"></i>
        <div class="recipe-card-grid-3">

            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
        </div>
    </div>
    <i class="fas fa-star"></i>




</body>

</html>