<link rel="stylesheet" href="components/home-page/home-page.css" />
<link rel="stylesheet" href="static/font-awesome/css/all.min.css" />

<!-- header img part -->
<header id="home-header-image" class="center">
  <div id="home-header-box">Welcome To Yummy Recipes!</div>
</header>

<div id="recipe-card-section-container">
  <!-- 3*recipe category -->
  <div class="recipe-card-section" id="recipe-card-section-1">
    <h2 id="recipe-category-1" class="recipe-category">High Protein</h2>
    <i class="fa fa-angle-left arrow-button-left" id="prev-button-1"></i>
    <i class="fa fa-angle-right arrow-button-right" id="next-button-1"></i>

    <!-- the grid that contains horizontal scroll recipes -->
    <div class="recipe-card-grid" id="recipe-card-grid-1"></div>
  </div>

  <div class="recipe-card-section" id="recipe-card-section-2">
    <h2 id="recipe-category-2" class="recipe-category">Healthy</h2>
    <i class="fa fa-angle-left arrow-button-left" id="prev-button-2"></i>
    <i class="fa fa-angle-right arrow-button-right" id="next-button-2"></i>
    <div id="recipe-card-grid-2" class="recipe-card-grid"></div>
  </div>

  <div class="recipe-card-section" id="recipe-card-section-3">
    <h2 id="recipe-category-3" class="recipe-category">Vegan</h2>
    <i class="fa fa-angle-left arrow-button-left" id="prev-button-3"></i>
    <i class="fa fa-angle-right arrow-button-right" id="next-button-3"></i>
    <div id="recipe-card-grid-3" class="recipe-card-grid"></div>
  </div>

  <div class="recipe-card-section" id="recipe-card-section-4">
    <h2 id="recipe-category-4" class="recipe-category">Vegetarian</h2>
    <i class="fa fa-angle-left arrow-button-left" id="prev-button-4"></i>
    <i class="fa fa-angle-right arrow-button-right" id="next-button-4"></i>
    <div id="recipe-card-grid-4" class="recipe-card-grid"></div>
  </div>

  <div class="recipe-card-section" id="recipe-card-section-5">
    <h2 id="recipe-category-5" class="recipe-category">Gluten-Free</h2>
    <i class="fa fa-angle-left arrow-button-left" id="prev-button-5"></i>
    <i class="fa fa-angle-right arrow-button-right" id="next-button-5"></i>
    <div id="recipe-card-grid-5" class="recipe-card-grid"></div>
  </div>
</div>
