<html>

<head>
    <title>Yummy</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    <div class="recipe-card-section">
        <button class="prev-button">p</button>
        <button class="next-button">n</button>
        <div class="recipe-card-grid">
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
            <div class="recipe-card">your content</div>
        </div>
    </div>





</body>

</html>