.recipe-card-section {
  height: 45vh;
  position: relative;
}

.recipe-card-grid {
  margin: 0px 5% 30px 5%;
  height: 45vh;
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.recipe-card {
  height: 30vh;
  /* width: 20vh; */
  min-width: 20vh;
  margin: 3vw 30px;
  transition: 0.5s ease;
  cursor: pointer;
  /* display: grid; */
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.recipe-card-image {
  margin: 0px;
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-size: cover;
}

.recipe-card-name {
  margin: 0px;
  height: 10%;
  display: flex;
}

.recipe-card-name div {
  margin: auto;
  font-size: x-large;
}
.recipe-card-stats {
  margin: 0px;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipe-card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: grey;
  font-size: small;
}

.fa-angle-left {
  position: absolute;
  top: 35%;
  left: 1%;
  cursor: pointer;
}

.fa-angle-right {
  position: absolute;
  top: 35%;
  right: 1%;
  cursor: pointer;
}

.recipe-card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.recipe-category {
  text-align: center;
  margin-bottom: 0px;
  width: 20%;
}
#recipe-category-1 {
  background-color: violet;
}
#recipe-category-2 {
  background-color: lightblue;
}
#recipe-category-3 {
  background-color: rgb(90, 240, 232);
}
#recipe-category-4 {
  background-color: rgb(131, 224, 24);
}
#home-header {
  background-image: url(../../static/home-page/headerimg.jpg);
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  max-height: 50vw;
}

#title {
  position: relative;
  top: 40%;
  color: rgb(253, 226, 204);
  text-shadow: 2px 2px black;
  font-size: 3vw;
}

/* #star-text {
  width: 40px;
  position: absolute;
  left: 90px;
  top: 360px;
} */

.arrow-button-left,
.arrow-button-right {
  font-size: 5vw;
}

/* #star {
  font-size: 200px;
  position: absolute;
  left: 20px;
  top: 300px;
  color: rgb(219, 175, 54);
} */

/* about us */
#about-us {
  text-align: center;
  background-color: fff1f1;
  padding: 30px;
}
#about-us-title {
  font-size: 40px;
}

#about-us-img {
  /* margin: 20px; */
  height: 200px;
  width: 200px;
  padding: 30px;
  margin: 30px;
}

#about-us-text {
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  height: 200px;
  width: 600px;
  margin: 30px;
  margin-left: 150px;
  text-align: left;
}

#about-us-flexbox {
  display: flex;
  justify-content: center;
}
