<link rel="stylesheet" href="components/home-page/home-page.css" />
<link rel="stylesheet" href="static/font-awesome/css/all.min.css" />

<!-- header img part -->
<header id="home-header">
  <h1 id="title">Welcome To Yummy Recipes!</h1>
  <!-- <i class="fa fa-star" id="star" ></i>
    <div id="star-text">Recipe of the Day</div> -->
</header>

<!-- 3*recipe category -->
<div class="recipe-card-section" id="recipe-card-section-1">
  <h2 id="recipe-category-1" class="recipe-category">Highest Protein</h2>
  <i class="fa fa-angle-left arrow-button-left" id="prev-button-1"></i>
  <i class="fa fa-angle-right arrow-button-right" id="next-button-1"></i>

  <!-- the grid that contains horizontal scroll recipes -->
  <div class="recipe-card-grid" id="recipe-card-grid-1">
    <!-- template of recipe card -->
    <div class="recipe-card" id="recipe-card-sample">
      <img
        class="recipe-card-image"
        alt="burger"
        src="static/common/demorecipe.jpg"
      />

      <div class="recipe-card-name">
        <div>burger</div>
      </div>

      <!-- property grid -->
      <div class="recipe-card-stats">
        <div class="stat">
          <div>15</div>
          <div>min</div>
        </div>
        <div class="stat">
          <div>800</div>
          <div>cal</div>
        </div>

        <div class="stat">
          <div>80g</div>
          <div>protein</div>
        </div>
        <div class="stat">
          <div>80</div>
          <div>score</div>
        </div>
      </div>
    </div>
    <!-- <div class="recipe-card">your content</div>
    <div class="recipe-card">your content</div> -->
  </div>
</div>

<div class="recipe-card-section" id="recipe-card-section-2">
  <h2 id="recipe-category-2" class="recipe-category">Healthy</h2>
  <i class="fa fa-angle-left arrow-button-left" id="prev-button-2"></i>
  <i class="fa fa-angle-right arrow-button-right" id="next-button-2"></i>
  <div id="recipe-card-grid-2" class="recipe-card-grid">
    <!-- <div class="recipe-card">your content</div>
    <div class="recipe-card">your content</div> -->
  </div>
</div>

<div class="recipe-card-section" id="recipe-card-section-3">
  <h2 id="recipe-category-3" class="recipe-category">Vegan</h2>
  <i class="fa fa-angle-left arrow-button-left" id="prev-button-3"></i>
  <i class="fa fa-angle-right arrow-button-right" id="next-button-3"></i>
  <div id="recipe-card-grid-3" class="recipe-card-grid">
    <div class="recipe-card" style="background-color: black">your content</div>
    <div class="recipe-card" style="background-color: red">your content</div>
    <div class="recipe-card" style="background-color: brown">your content</div>
    <div class="recipe-card" style="background-color: grey">your content</div>
    <div class="recipe-card" style="background-color: pink">your content</div>
    <div class="recipe-card" style="background-color: purple">your content</div>
    <div class="recipe-card" style="background-color: green">your content</div>
    <div class="recipe-card" style="background-color: blue">your content</div>
    <div class="recipe-card" style="background-color: orange">your content</div>
    <div class="recipe-card" style="background-color: yellow">your content</div>
    <div class="recipe-card" style="background-color: black">your content</div>
    <div class="recipe-card" style="background-color: red">your content</div>
    <div class="recipe-card" style="background-color: brown">your content</div>
    <div class="recipe-card" style="background-color: grey">your content</div>
    <div class="recipe-card" style="background-color: pink">your content</div>
    <div class="recipe-card" style="background-color: purple">your content</div>
    <div class="recipe-card" style="background-color: green">your content</div>
    <div class="recipe-card" style="background-color: blue">your content</div>
    <div class="recipe-card" style="background-color: orange">your content</div>
    <div class="recipe-card" style="background-color: yellow">your content</div>
    <div class="recipe-card" style="background-color: black">your content</div>
    <div class="recipe-card" style="background-color: red">your content</div>
    <div class="recipe-card" style="background-color: brown">your content</div>
    <div class="recipe-card" style="background-color: grey">your content</div>
    <div class="recipe-card" style="background-color: pink">your content</div>
    <div class="recipe-card" style="background-color: purple">your content</div>
    <div class="recipe-card" style="background-color: green">your content</div>
    <div class="recipe-card" style="background-color: blue">your content</div>
    <div class="recipe-card" style="background-color: orange">your content</div>
    <div class="recipe-card" style="background-color: yellow">your content</div>
  </div>
</div>

<div class="recipe-card-section" id="recipe-card-section-4">
  <h2 id="recipe-category-4" class="recipe-category">Vegetarian</h2>
  <i class="fa fa-angle-left arrow-button-left" id="prev-button-4"></i>
  <i class="fa fa-angle-right arrow-button-right" id="next-button-4"></i>
  <div id="recipe-card-grid-4" class="recipe-card-grid">
    <!-- <div class="recipe-card">your content</div>
    <div class="recipe-card">your content</div> -->
  </div>
</div>

<section id="about-us">
  <div id="about-us-title">About Us</div>
  <div id="about-us-flexbox">
    <img
      id="about-us-img"
      src="static/home-page/red-panda.png"
      alt="redpanda"
    />
    <div id="about-us-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      delectus debitis incidunt in molestiae fugit obcaecati odit,
    </div>
  </div>
</section>
