.recipe-card-section {
  height: 45vh;
  position: relative;
}

.recipe-card-grid {
  margin: 0px 5% 30px 5%;
  height: 45vh;
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
  column-gap: 5vh;
  white-space: nowrap;
  padding: 3vh;
}

.fa-angle-left {
  position: absolute;
  top: 35%;
  left: 1%;
  cursor: pointer;
}

.fa-angle-right {
  position: absolute;
  top: 35%;
  right: 1%;
  cursor: pointer;
}

.recipe-category {
  text-align: center;
  margin-bottom: 0px;
  width: 14%;
  margin-left: 7%;
  border-radius: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
#recipe-category-1 {
  background-color: violet;
}
#recipe-category-2 {
  background-color: lightblue;
}
#recipe-category-3 {
  background-color: rgb(90, 240, 232);
}
#recipe-category-4 {
  background-color: rgb(131, 224, 24);
}
#recipe-category-5 {
  background-color: #b78727;
}
#home-header-image {
  background-image: url(../../static/home-page/headerimg.jpg);
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  max-height: 50vw;
}

#home-header-box {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 3vw;
  font-family: "Sofia";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.arrow-button-left,
.arrow-button-right {
  font-size: 5vw;
}

.center {
  position: relative;
}

.center > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom-padding {
  height: 3vh;
}
