.recipe-card-section {
  height: 45vh;
  position: relative;
}

.recipe-card-grid {
  margin: 0px 5% 30px 5%;
  height: 45vh;
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.fa-angle-left {
  position: absolute;
  top: 35%;
  left: 1%;
  cursor: pointer;
}

.fa-angle-right {
  position: absolute;
  top: 35%;
  right: 1%;
  cursor: pointer;
}

.recipe-category {
  text-align: center;
  margin-bottom: 0px;
  width: 20%;
}
#recipe-category-1 {
  background-color: violet;
}
#recipe-category-2 {
  background-color: lightblue;
}
#recipe-category-3 {
  background-color: rgb(90, 240, 232);
}
#recipe-category-4 {
  background-color: rgb(131, 224, 24);
}
#recipe-category-5 {
  background-color: #b78727;
}
#home-header {
  background-image: url(../../static/home-page/headerimg.jpg);
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  max-height: 50vw;
  color: rgb(253, 226, 204);
  text-shadow: 2px 2px black;
  font-size: 3vw;
  line-height: 40vh;
}

.arrow-button-left,
.arrow-button-right {
  font-size: 5vw;
}

#about-us {
  text-align: center;
  background-color: fff1f1;
  padding: 30px;
}
#about-us-title {
  font-size: 40px;
}

#about-us-img {
  height: 200px;
  width: 200px;
  padding: 30px;
  margin: 30px;
}

#about-us-text {
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  height: 200px;
  width: 600px;
  margin: 30px;
  margin-left: 150px;
  text-align: left;
}

#about-us-flexbox {
  display: flex;
  justify-content: center;
}
