<link rel="stylesheet" href="components/common/nav-bar/common-nav-bar.css" />

<div id="nav-bar-content">
    <ul>
        <li id="left"><img src="components/common/nav-bar/logo.png" alt="logo" width="60"></li>
        <li id="left">Yummy Recipes</li>
        <li id="right"><img src="components/common/nav-bar/menu.png" alt="menu" width="30"></li>
        <li id="right recipe"><img src="components/common/nav-bar/handsfree.png" alt="menu" width="30"></li>
        <li id="right recipe"><img src="components/common/nav-bar/timer.png" alt="menu" width="30"></li>
        <li id="right"><input type="text"></li>
    </ol>
</div>
