#nav-bar {
  color: black;
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #ffa4a4;
  height: 50px;
  text-align: center;
  display: flex;
}

#logo {
  height: 50px;
}

#home-page-link {
  font-family: Snell Roundhand, cursive;
  font-style: normal;
  font-size: 30px;
  line-height: 50px;
  padding-right: 10px;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  #home-page-link {
    display: none;
  }
}

a {
  color: black;
  text-decoration: none;
}

.div-links {
  padding: 16px 12.5px 15px;
}

.nav-link {
  white-space: nowrap;
  padding: 7px;
}

.nav-link:hover {
  background: #dd8e8e;
  border-radius: 10px;
}

#place-holder {
  height: 50px;
}
